.container {
  position: relative;
  background-color: #D9D9D9;
  height: 538px;

}

.content {
position:absolute;
top:96px;
left:134px;

font-family:'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 112px;

color: #FFFFFF;
}

.button {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 154px;
height: 44px;
left: 148px;
top: 373px;


font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

background: #000000;
border-radius: 2px;
}