.container {
  display: flex;
  flex-direction: column;

}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 36px auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin:0 40px;
  padding: 44px 40px 20px 48px;
  gap:16px;
  width: 304px;
  height: 302px;
  background: #FFFFFF;
  box-shadow: 2px 4px 32px rgba(161, 207, 240, 0.22);
  border-radius: 20px;
}

.title{
font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
/* identical to box height */


color: #39AED3;

}

.content{
  font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */


color: #535A5F;
}

.icon {
  position:absolute;
  right:40px;
  bottom: 10px;
}

.site{
  color:#39AED3;
  text-decoration-line: underline;
}

.card6{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin:0 40px;
  padding: 0px 40px 25px 48px;
  gap:16px;
  width: 304px;
  height: 302px;

  background: #39AED3;
  box-shadow: 2px 4px 32px rgba(161, 207, 240, 0.22);
  border-radius: 20px;

}

.button{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px 10px 16.8px;
  gap: 4px;

  width: 106.8px;
  height: 40px;
  position: absolute;
  bottom: 60px;
  left:56px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #39AED3;
  box-shadow: 2px 4px 8px rgba(23, 90, 137, 0.24);
  border-radius: 8px;
}

.button:hover{
  cursor:pointer;
}