.container {
  margin: 150px 120px;
  display: flex;
  flex-direction: row;
}

.left {
  flex: 1;
  display: flex;
  padding-top: 150px;
  padding-left: 40px;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content:center ;
}

.desc{
  flex:1;
  /* background-color: yellow; */
}

.socials{
  flex:1;
}
.content {
  margin: 40px 0;
  width: 382px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  color: #535A5F;
}
