.container {
  position:fixed;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  background:rgba(251,250,255,0.6);
  height:76px;
  width:100%;
  /* position:absolute; */
  z-index:999;
  top: 60px;
  left: 0px;
}

.left{
  display: flex;
  justify-content: space-evenly;
  width:600px;
}

.logo {
width: 40px;
height: 30px;
font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
color: #000000;
}

.item {
height: 24px;
font-family: 'PingFang SC';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* padding: 0 20px; */
/* identical to box height, or 150% */
color: #000000;
}

.right{
  display: flex;
  margin-left: auto;
  align-items:self-end;
  justify-content: space-evenly;
  width:400px;
}

.like{
  background: url(../../public/likebg.svg) no-repeat;
  background-size:cover;
  height:60px;
  top:0px;
  position:fixed;
  z-index:999;
  width:100%;
  text-align: center;
  padding-top:20px;
}

.iflike{
  margin:auto;
  padding-right:20px;
}